In [18]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\manvi\anaconda3\lib\site-packages (4.10.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: soupsieve>1.2 in c:\users\manvi\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)

In [19]:
import requests
from bs4 import BeautifulSoup

In [20]:
wikiurl="https://en.wikipedia.org/wiki/COVID-19_lockdowns"
table_class="wikitable sortable mw-collapsible jquery-tablesorter mw-made-collapsible"
response=requests.get(wikiurl)
print(response.status_code)

200

In [21]:
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

In [22]:
dfx=pd.read_html(str(indiatable))
# convert list to dataframe
dfx=pd.DataFrame(dfx[0])
print(dfx.head())
dfx.size

  vteCOVID-19 pandemic lockdowns                                        \
             Country / territory                 Place  First lockdown
             Country / territory                 Place      Start date
0                        Albania               Albania  2020-03-13[82]
1                        Algeria               Algiers  2020-03-23[84]
2                        Algeria                 Blida  2020-03-23[84]
3                      Argentina  Greater Buenos Aires  2020-03-19[86]
4                      Argentina   Rest of the country  2020-03-19[86]

                                                                           \
                                Second lockdown
         End date Length (days)      Start date    End date Length (days)
0  2020-06-01[83]            80             NaN         NaN           NaN
1  2020-05-14[85]            52             NaN         NaN           NaN
2  2020-05-14[85]            52             NaN         NaN           NaN
3  2020-11-08[87]           234  2021-05-22[88]  2021-05-30             9
4  2020-05-10[90]            52  2021-05-22[88]  2021-05-30             9

                               ...                                           \
   Third lockdown              ... Sixth lockdown Seventh lockdown
       Start date    End date  ...  Length (days)       Start date End date
0             NaN         NaN  ...            NaN              NaN      NaN
1             NaN         NaN  ...            NaN              NaN      NaN
2             NaN         NaN  ...            NaN              NaN      NaN
3  2021-06-05[89]  2021-06-06  ...            NaN              NaN      NaN
4  2021-06-05[89]  2021-06-06  ...            NaN              NaN      NaN

                                                                            \
                Eighth lockdown                        Total length (days)
  Length (days)      Start date End date Length (days) Total length (days)
0           NaN             NaN      NaN           NaN                  80
1           NaN             NaN      NaN           NaN                  52
2           NaN             NaN      NaN           NaN                  52
3           NaN             NaN      NaN           NaN                 245
4           NaN             NaN      NaN           NaN                  63


               Level Unnamed: 28_level_1
               Level Unnamed: 28_level_2
0           National                 NaN
1               City                 NaN
2               City                 NaN
3  Metropolitan area                 NaN
4           National                 NaN

[5 rows x 29 columns]

7018